.worker-container {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #F0F0F0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    width: 100%;
    margin: 0.5rem;
    text-align: left;
}

.label {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.worker-button {
    width: 90%;
    font-size: 15px;
    margin: 0.35rem;
}

.find-status-green {
    background-color: #aff0b3;
    color: #0a400d;
}